@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Appraisal Management System</h1>
    <p>Learn about  <a href="https://dcareug.com/"> our Services</a>.</p>
</div>
